
<form method="post">
	<input name="Titre" type="text" />
	@*<input name="Titre" type="text" />*@


	<input name="shabala" type="number" />
	@*@Html.TextBox("Titre")*@

	<button type="submit">Ajouter</button>
</form>
