@{
    ViewData["Title"] = "Home Page";
}
<h1>Selfie à wookies !</h1>

@*<environment include="Development, Staging">
    <i style="background-color: darkred; color: white">
        DEV
    </i>
</environment>*@


